<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E46D3FC1BEB7394002E497B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E7232EF1B00224400D647A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E91E6E81BB16E8800F7618F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ED4F8AF1BEB65F20093BFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ED4F8C41BEB67700093BFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ED4F8DA1BEB69E30093BFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
